In [1]:
from utils import run_simulations
run_simulations({"n_agents": 30, "meeting_format": "online", "Bp_params": (20, 0.5), "Br_params": (10, 0.5), "sp_params": (1, 0.25), "sr_params": (0.15, 0.1)})

,meeting_num,n_in_person,ns_remote,utility
0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]",14.696067
1,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]",14.696067
2,2,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]",14.696067
3,3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]",14.696067
4,4,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]",14.696067
...,...,...,...,...
9995,5,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]",13.947353
9996,6,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]",13.947353
9997,7,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]",13.947353
9998,8,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]",13.947353
9999,9,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]",13.947353